.avatar-bounce {
  display: inline-block;
  animation: bounce 2s infinite;
  transition: transform 0.3s ease;
}
.avatar-img {
  width: 90px;
  height: 90px;
}
.avatar-bounce:hover {
  transform: scale(1.1) rotate(3deg);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}
