body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(to right, #5AA9E6, #F7A8A8);
    background-repeat: no-repeat;
}

input, textarea {
    background-color: #F2F4F7;
    border-radius: 50px !important;
    padding: 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #F2F4F7 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400;
}

input:focus, textarea:focus {
    box-shadow: none !important;
    border: 1px solid #5AA9E6 !important;
    outline: none;
    font-weight: 400;
}

button:focus {
    box-shadow: none !important;
    outline: none;
}

.card {
    border-radius: 0;
    border: none;
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 30px;
}

.card2 {
    width: 50%;
    background-image: linear-gradient(to right, #F7A8A8, #5AA9E6);
}

#logo {
    width: 70px;
    height: 60px;
}

.heading {
    margin-bottom: 60px !important;
}

::placeholder {
    color: #666 !important;
    opacity: 1;
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px;
    color: #333;
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px;
    color: #555;
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #5AA9E6, #F7A8A8);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px;
    transition: background-image 0.3s ease;
}

.btn-color:hover {
    background-image: linear-gradient(to right, #F7A8A8, #5AA9E6);
    color: #fff;
}

.btn-white {
    border-radius: 50px;
    color: #5AA9E6;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #5AA9E6 !important;
    transition: all 0.3s ease;
}

.btn-white:hover {
    background-image: linear-gradient(to right, #F7A8A8, #5AA9E6);
    color: #fff;
    border: none !important;
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

.bottom {
    width: 100%;
    margin-top: 50px !important;
}

.sm-text {
    font-size: 15px;
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px;
    }

    .card2 {
        width: 100%;
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important;
    }

    .card2 {
        padding: 50px;
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
}
